%container#container
	%header
		%h1 Abakada converter
		%small Convert texts into Filipino Abakada Phonetics!
		
	%content
		%div.tab
			%h2 Ang iyong gustong sabihin
			%label
				%textarea#textinput.textfield Magtype ng kahit ano...
		%div.tab
			%h2 Ang kinalabasan ng iyong sinabi
			%label
				%textarea#textoutput.textfield 
	%footer
		%div 
			Maraming Salamat kina 
			%a{:href => "http://reyamio.com", :target => "_blank"} Rey Amio
			at 
			%a{:href => "http://www.mervinmalonzo.com/", :target => "_blank"} Mervin Malonzo
			%span sa kanilang kontribusyon ng mga Pilipinong salita sa aplikasyong eto. 
		%div
			%span Kung nais niyo pong gamitin ang source code, ma-dodownload nyo po eto sa 
			%a{:href => "https://github.com/jamesflorentino/Abakada-converter" } link na eto
		%div
			%span Inilikha gamit ang mga kagamitan na eto:
			%li 
				= link_to 'Backbone.js', 'http://documentcloud.github.com/backbone/'
			%li 
				= link_to 'CoffeeScript', 'http://jashkenas.github.com/coffee-script/'
			%li
				= link_to 'HAML', 'http://haml-lang.com/'
			%li 
				= link_to 'SASS', 'http://sass-lang.com/'
				
	%h2 Mga mungkahi, komento at saloobin ng mga bisita
	%div#facebook_stream
		<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="http://abkd.jamesflorentino.com/" num_posts="50" width="500"></fb:comments>

%footnotes
	@author 
	= link_to 'James Florentino', 'http://jamesflorentino.com'
