!!!5
%html
  %head
    %title Abakada Converter - convert texts into Pinoy Phonetics
    = javascripts('jquery')
    = javascripts('jquery.autoalign')
    = javascripts('underscore')
    = javascripts('backbone')
    = javascripts('client')
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,700|Volkhov:400italic', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheets
  %body
    = yield
